<div class="layout-sidebar" [ngClass]="{'active': menuActive}">
    <div class="layout-menu">
        <div class="layout-menu-search ui-fluid">
            <p-autoComplete [(ngModel)]="searchText" [suggestions]="filteredRoutes"
                (completeMethod)="filterRoutes($event)" (onSelect)="selectRoute($event)" placeholder="Search">
            </p-autoComplete>
            <i class="pi pi-search"></i>
        </div>
        <a id="menu_input" #inputmenutitle [class.active-menuitem]="inputmenutitle.id == activeMenuId" tabindex="0"
            (keydown)="onKeydown($event, inputmenutitle.id)" (click)="toggle(inputmenutitle.id)">
            <img src="assets/showcase/images/icons/input-active.svg" class="layout-menu-icon-active" />
            <img src="assets/showcase/images/icons/input.svg" class="layout-menu-icon-inactive" />
            <span>Components</span>
        </a>
        <div [@animation]="(inputmenutitle.id == activeMenuId) ? 'visible' : 'hidden'"
            (@animation.start)="onAnimationStart($event)" (@animation.done)="onAnimationDone($event)">
            <a [routerLink]="['/main/calendar']" (click)="menuActive = false">&#9679; Full Calendar</a>
        </div>

    </div>
</div>
